In [3]:
import pandas as pd
import gspread
import requests 
import io
import matplotlib.pyplot as plt
import scipy
import numpy as np

In [4]:
data = pd.read_csv('AL/AL/train', low_memory=False, lineterminator ='\n', header = None)
data.head(15)

                0
0    小 B-DISTRICT
1    港 I-DISTRICT
2         四 B-POI
3         方 I-POI
4         家 I-POI
5         园 I-POI
6    17 B-HOUSENO
7     幢 I-HOUSENO
8   1363 B-CELLNO
9      室 I-CELLNO
10       嘉 B-CITY
11       兴 I-CITY
12   南 B-DISTRICT
13   湖 I-DISTRICT
14   区 I-DISTRICT

In [6]:
data = pd.read_csv('CN/CN/train', low_memory=False, lineterminator ='\n', delimiter = ' ',  header = None)
data.head(15)

     0          1
0    这          O
1   大概          O
2    是          O
3   所有          O
4   版本          O
5    里          O
6   无忌  B-neutral
7   哥哥  I-neutral
8    对          O
9   敏敏  B-neutral
10   说          O
11   过          O
12   的          O
13  最美          O
14   的          O

In [8]:
data = pd.read_csv('EN/EN/train', low_memory=False, lineterminator ='\n',delimiter = ' ',   header = None)
data.head(15)

            0       1
0   Municipal    B-NP
1       bonds    I-NP
2         are    B-VP
3   generally  B-ADVP
4           a  B-ADJP
5         bit  I-ADJP
6       safer  I-ADJP
7        than    B-PP
8   corporate    B-NP
9       bonds    I-NP
10         in    B-PP
11          a    B-NP
12  recession    I-NP
13          ,       O
14        but       O

In [10]:
data = pd.read_csv('SG/SG/train', low_memory=False, lineterminator ='\n',delimiter = ' ',header = None)
data.head(15)

                          0           1
0                       I'm           O
1                     about           O
2                        to           O
3                       see           O
4                      Adam  B-positive
5                    Levine  I-positive
6                       and           O
7                       I'm           O
8                  probably           O
9                     going           O
10                       to           O
11                     drop           O
12                     dead           O
13  https://t.co/MpRIS0FqSA           O
14                     Come           O

In [11]:
# Write a function that estimates the emission parameters from the training set using MLE (maximum likelihood estimation)
# e(x|y) = Count (y -> x)/Count(y)

#from utils import get_entities, load_file, compare_result
from collections import defaultdict

def emissionEstimate(train):

    # Count(y -> x)
    count_yToX = defaultdict(int)
    
    # Count(y)
    count_y = defaultdict(int)
    
    x_set = set()
    for l in train:
        for t in l:
            x, y = t
            x_set.add(x)
            count_y[y] += 1
            count_yToX[(y, x)] += 1
    
    e = {}
    for y, count_y in count_y.items():#y is the state, count_y is the amount of time that state is used,count_y datastructure keeps the count
        for x in x_set:
            e[(x, y)] = count_yToX[(y, x)]/count_y
    
    return e

In [17]:
c=defaultdict(int)
c[0]=9
c[2]=8
c[1]=2
print(c)
print(c.items())
for x in c.items():
    print(x)

for x,y in c.items():
    print(x,y)

defaultdict(<class 'int'>, {0: 9, 2: 8, 1: 2})
dict_items([(0, 9), (2, 8), (1, 2)])
(0, 9)
(2, 8)
(1, 2)
0 9
2 8
1 2