In [1]:
str=""
str=str+""+""+'a'
str

'a'

In [3]:
str=""
len(str)

0

In [1]:
(a,b,c)=(1,2,3)
a

1

In [2]:
[A,B,C]=(4,5,6)
A

4

In [9]:
class A:
    def __init__(self):
        self.a=5;
        self.fun()
    def fun(self):
        self.f=9
e=A()
e.f

9

In [10]:
from collections import defaultdict
a=defaultdict(int)
a

defaultdict(int, {})

In [16]:
a[0]=1
a[1]=2
a[565]=0
a

defaultdict(int, {0: 1, 1: 2, 565: 0})

In [32]:
for i in a:
    print(i)
for i,j in a.items():
    print (i,j)

0
1
565
0 1
1 2
565 0

In [20]:
import pandas as pd
count=pd.DataFrame( columns = ['u', 'Count'])
count

Empty DataFrame
Columns: [u, Count]
Index: []

In [28]:
count=count.append({'u':'dan','Count':9}, ignore_index=True)
count=count.append({'u':'can','Count':9}, ignore_index=True)
count=count.append({'u':'nan','Count':9}, ignore_index=True)

In [29]:
count

     u Count
0  dan     9
1  dan     9
2  can     9
3  nan     9

In [38]:
from collections import defaultdict
t=defaultdict(int)
t[(0,0)]=9
for i,j in t.items():
    print(i[0],i[1],j)
df = pd.DataFrame([(i[0], i[1], j) for i, j in t.items()],columns=['u','v','Count'])
df

0 0 9

   u  v  Count
0  0  0      9